* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: rgb(241, 232, 232);
}

header {
  min-height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383c42;
  padding: 1rem;
}

header h1 {
  font-size: 2.5rem;
  color: rgb(241, 232, 232);
}

main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #63c5fa, #2d88f8, #0674fa);

  display: flex;
  justify-content: center;

  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
}

main form {
  margin-top: 5%;
  width: 35%;
  height: 75vh;

  background-color: #383c42;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4) inset 0px 4px 4px
    rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  padding: 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-container {
  margin-top: 10%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-container input {
  width: 90%;
  height: 45px;
  padding: 8px 15px;
  border: 0;
  outline: 0;
  border-radius: 12px;

  font-size: 16px;
  color: #312e42;

  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.inputs-container input:focus {
  box-shadow: inset 1px 4px 7px rgba(0, 0, 0, 0.5);
}

.password-container {
  margin-top: 5%;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-container i {
  position: absolute;
  right: 8%;
  top: 35%;
  color: #777;
  cursor: pointer;
}

#eye {
  display: none;
}

.password-infos {
  width: 90%;
  margin-top: 3%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-infos a {
  transition: 0.2s ease-in-out;
}

.password-infos a:hover {
  color: #18acfe;
}

#btn-login {
  background-color: #18acfe;
  width: 90%;
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 12px;
  margin-top: 10%;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#btn-login:hover {
  background: rgb(247, 235, 235);
  color: #18acfe;
}

.links-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.links-container span {
  font-size: 0.8rem;
  font-weight: 600;
}

.links-container aside {
  margin-top: 5%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links-container aside i {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 8px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.google {
  color: #e34133 !important;
}

.google:hover {
  background-color: #e34133;
  color: #fff !important;
}

.linkedin {
  color: #0a66c2 !important;
}

.linkedin:hover {
  background-color: #0a66c2;
  color: #fff !important;
}

.facebook {
  color: #14a0f9 !important;
}

.facebook:hover {
  background-color: #14a0f9;
  color: #fff !important;
}
